@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.Background {
  position: absolute;
  width: 390px;
  height: 718px;
  left: 30%;
  top: 0;
  background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
}

.logo {
  display: flex;
  position: absolute;
  width: 140px;
  height: 40px;
  left: 12px;
  top: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  align-items: center;
  text-align: center;
}

#menu {
  position: absolute;
  left: 85%;
  top: 20px;
  font-size: 1.7rem;
  color: #6070ff;
}

ul li {
  display: flex;
  list-style-type: none;
}

.Ellp_one {
  position: absolute;
  width: 38.5px;
  height: 19.25px;
  left: 16.04px;
  top: 161.47px;
}

.Rec_one {
  position: absolute;
  width: 26.46px;
  height: 4.73px;
  left: 127.18px;
  top: 151.59px;
}

.Ellp_two {
  position: absolute;
  width: 50px;
  height: 80px;
  font-size: 3rem;
  left: 323px;
  top: 150.24px;
}

h1 {
  position: absolute;
  width: 327px;
  height: 150px;
  left: 24px;
  top: 200.24px;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.pra {
  position: absolute;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 310px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.Lest {
  position: absolute;
  left: 24px;
  top: 450px;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social_Media {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 24px;
  top: 490px;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.Ellp_three {
  position: absolute;
  width: 24.14px;
  height: 12.07px;
  left: 320.76px;
  top: 450.69px;
}

.Ellap_four {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 230px;
  top: 550.1px;
}
